*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

body{
    color: #ededed;
    background: #081b29;
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: sliderRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: sliderTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover{
    color: #0ef;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(assets/imagenes/fondo.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding:  70px 10% 0;
}

@media screen and (max-width: 768px) {
    .home {
        background: #081b29; /* o cualquier color que haga contraste */
        background-image: none; /* opcional, para asegurarte que se quite */
        color: white; /* si necesitás mantener el texto visible */
    }
}

.home-content{
    max-width: 600px;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: sliderBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span{
    color: #0ef;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: sliderTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3 0;
    opacity: 0;
    animation: sliderRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p{
    font-size: 20px;
    opacity: 0;
    animation: sliderLeft 1s ease forwards;
    animation-delay: 1s;
}

.redes-sociales a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: sliderLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.redes-sociales a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: sliderTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef
}

.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}

.sobreMi{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.sobreMi-img img{
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}

.sobreMi-text h2{
    font-size: 60px;
}

.sobreMi-text h2 span
{
    color: #0ef;
}

.sobreMi-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.sobreMi p {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

#servicios{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.sub-titulo{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}

.sub-titulo span{
    color: #0ef;
}

.container{
    padding: 90px;
    justify-content: center;
}

.servicios-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    gap: 40px;
    margin-top: 50px;
}

.servicios-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
                1px 1px 40px #0053b8f7;
}

.servicios-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.servicios-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.servicios-list div a{
    text-decoration: none;
    color: #000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.read{
    display: inline-block;
    padding: 12px 20px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: sliderTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}

.read:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}

.servicios-list div:hover {
    transform: translateY(-10px);
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container1{
    width: 600px;
    height: auto;
    padding: 75px 90px;
    margin: 50px auto;
}

@media screen and (max-width: 768px) {
    .container1 {
        width: 100%;
        padding: 40px 20px;
        height: auto;
    }
}

.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.bar{
    font-size: 23px;
}

.Habilidades-bars .bar{
    margin-top: 40px 0;
}

.Habilidades-bars .bar:first-child{
    margin-top: 0;
}

.Habilidades-bars .bar:last-child{
    margin-bottom: 0;
}

.Habilidades-bars .bar .info{
    margin-bottom: 5px;
}

.Habilidades-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.Habilidades-bars .bar .linea-progreso{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
    margin-bottom: 30px;
}

@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}

.Habilidades-bars .bar .linea-progreso span{
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.linea-progreso.html span{
    width: 90%;
}

.linea-progreso.css span{
    width: 65%;
}

.linea-progreso.javascript span{
    width: 60%;
}

.linea-progreso.c-sharp span{
    width: 80%;
}

.linea-progreso.sql span{
    width: 70%;
}

.linea-progreso span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -20px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.linea-progreso.html span::after{
    content: "90%";
}

.linea-progreso.css span::after{
    content: "65%";
}

.linea-progreso.javascript span::after{
    content: "60%";
}

.linea-progreso.c-sharp span::after{
    content: "80%";
}

.linea-progreso.sql span::after{
    content: "70%";
}

.linea-progreso span::before{
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

@keyframes showText{
    100%{
        opacity: 1;
    }
}

.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}

.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
    100%{
        stroke-dashoffset: -1;
    }
}

.path{
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1{animation:  animate-path1 1s 1s linear forwards;}
.path-2{animation:  animate-path2 1s 1s linear forwards;}
.path-3{animation:  animate-path3 1s 1s linear forwards;}
.path-4{animation:  animate-path4 1s 1s linear forwards;}

@keyframes animate-path1 {
    100%{
        stroke-dashoffset: 25.13;
    }
}

@keyframes animate-path2 {
    100%{
        stroke-dashoffset: 50.27;
    }
}

@keyframes animate-path3 {
    100%{
        stroke-dashoffset: 75.40;
    }
}

@keyframes animate-path4 {
    100%{
        stroke-dashoffset: 100.53;
    }
}

.radial-bar .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.radial-bar .text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.main-text{
    padding-top: 130px;
    margin-top: 200px;
}

.main-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
}

.main-text h2 span{
    color: #0ef;
}

.portfolio {
    width: 100%;
    max-width: 1200px; /* o el ancho que uses */
    margin: 0 auto;     /* <-- centra horizontalmente */
    padding: 20px;
}

.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    justify-content: center; /* <-- centra las columnas horizontalmente */
    gap: 10px; /* opcional, da espacio entre elementos */
}

.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    margin: 15px;
}

.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background:  linear-gradient(rgba(0,0,0,0.1), #0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5{
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p{
    color: #000;
    font-size: 1rem;
    line-height: 1.8;
}

.layer i{
    color: #ff004f;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img{
    transform: scale(1.1);
}

.row:hover .layer{
    height: 100%;
}

.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}

.contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;
}

.contact-text h4{
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 600;
}

.contact-text p{
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list{
    margin-bottom: 3rem;
}

.contact-list li{
    margin-bottom: 10px;
    display: block;
}

.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-list li:hover{
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}

.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: sliderLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.contact-icons i:hover{
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}

.contact-form form{
    position: relative;
}

.contact-form form input, form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form form .send{
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: sliderTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}

.contact-form form .send:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}

.contact-form textarea{
    resize: none;
    height: 220px;
}

.last-text p{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(7, 85, 91);
    font-weight: 300;
    margin-top: 70px;
}

.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}

.top i{
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}

@keyframes sliderRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes sliderTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes sliderBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes sliderLeft {
    0% {
        transform: translatex(100px);
        opacity: 0;
    }

    100% {
        transform: translatex(0px);
        opacity: 1;
    }
}

#menu-icon {
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    display: none;
    z-index: 1001;
}
/* Estilos para dispositivos móviles */
@media (max-width: 768px) {

    #menu-icon {
        display: block;
        position: static; /* ya no lo posicionamos de forma absoluta */
        order: 0;
        margin-right: 10px;
    }
    .header {
        flex-direction: row;
        justify-content: flex-start; /* alinea a la izquierda */
    }

    .navbar {
        display: none;
        position: absolute;
        top: 70px;
        left: 20px;
        background: #051129; /* color de fondo del menú */
        padding: 25px;
        border-radius: 10px;
        flex-direction: column;
        gap: 10px;
    }

    .navbar.active {
        display: flex;
    }

    .navbar a {
        font-size: 20px;
        margin: 10px 0;
    }

    .home {
        flex-direction: column;
        padding: 120px 5% 40px;
        height: auto;
        text-align: center;
    }

    .home-content h1 {
        font-size: 38px;
    }

    .home-content h3 {
        font-size: 24px;
    }

    .home-content p {
        font-size: 18px;
    }

    .sobreMi {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .sobreMi-img img {
        width: 100%;
        max-width: 90%;
    }

    .sobreMi-text h2 {
        font-size: 40px;
    }

    .sobreMi-text h4 {
        font-size: 20px;
    }

    .sobreMi-text p {
        font-size: 16px;
    }

    .container1 {
        width: 100%;
        padding: 30px;
        margin: 0;
    }

    .radial-bars,
    .Habilidades-bars {
        flex-direction: column;
        align-items: center;
    }

    .portfolio-content {
        grid-template-columns: 1fr;
        padding: 0 10px;
    }

    .contact {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .contact-text h2 {
        font-size: 40px;
    }

    .contact-form form input,
    .contact-form textarea {
        width: 100%;
    }

    .top {
        right: 1rem;
        bottom: 1rem;
    }

    .sub-titulo {
        font-size: 40px;
        padding-bottom: 30px;
    }

    .servicios-list {
        grid-template-columns: 1fr;
        padding: 0 10px;
    }

    .servicios-list div {
        padding: 20px;
    }
}


.miCV {
    margin: 20px auto;         /* separa del contenido anterior y centra horizontalmente */
    padding: 0 20px;            /* margen interno lateral */
    max-width: 1200px;          /* evita que se estire demasiado en pantallas grandes */
}

.miCV .contact-text span{
    color: #0ef;
}

